html {
  background: url('../img/AKLO91backgroundhorz.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  width: 100vw;
  background-color: transparent;
}

#myVideo {
  display: none;
  z-index: -4;
}

* {
  cursor: url('../img/aklocursor.png'), default;
}

*:active {
  cursor: url('../img/aklocursor.png'), default;
}

a:hover {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}

footer {
    position: fixed;
    height: 105px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-family: Courier;
    margin: 0 auto;
    background-color: #000;
    opacity: 0.95;
}

footer a {
  color: #fff;
}

footer img {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.abs-center-x {
    position: relative;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
}

.abs-center-x a {
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  z-index: 4;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contentcontainer {
  display: flex;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
}

.videocontainer {
  width: 85vw;
  margin: 0 auto;
}

.videoWrapper {
  margin-bottom: 2%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.aboutcontainer {
  position: relative;
  z-index: 4;
  flex-direction: column;
}

.aboutcopy {
  width: 85%;
  font-size: 18px;
  color: #EEE;
  font-family: Courier;
  margin: 0 auto;
}

.aboutcopy a {
  color: #fff;
}

.titlecontainer {
  position: relative;
  z-index: 4;
  flex-direction: column;
  justify-content: center;
}

.titlecontainer img {
  width: 40%;
  margin-top: -4%;
}

.gif {
  width: 75%;
  z-index: 1;
  position: absolute;
  left:0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {

  html {
    background: url('../img/AKLO91backgroundhorz.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
  }

  .gif {
    display: none;
  }


  #myVideo {
    display: flex;
    position: fixed;
    z-index: -3;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.contentcontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
  }

  .aboutcontainer {
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    position: relative;
    z-index: 4;
    flex-direction: column;
    margin-top: 20%;
  }

  .aboutcopy {
    width: 85%;
    font-size: 24px;
    color: #fff;
    font-family: Courier;
    margin: 0 auto;
  }

  .videocontainer {
    width: 66vw;
    margin: 0 auto;
  }

  .titlecontainer {
    position: relative;
    z-index: 4;
  }

  .titlecontainer img {
    width: 10%;
    margin-top: -6%;
  }

  .gif {
    position: absolute;
    width: 20%;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -4%;
  }

}
